# general documentation
include README.md COPYING NEWS

# module documentation
graft doc
prune doc/build
include examples/*.py

# build
include setup.py

# extension source
include src/*.pyx src/*.pxd

# python source
graft liblo

# scripts
include scripts/*_osc

# man pages
include scripts/*.1

# test suite
include test/*.py
