# general documentation
include README COPYING NEWS

# module documentation
graft doc
prune doc/build
include examples/*.py

# build
include setup.py

# extension code
include src/*.pyx src/*.pxd

# scripts
include scripts/*_osc

# man pages
include scripts/*.1

# test suite
include test/*.py
